{%extends 'base.html'%}

{%block contenido%}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Aplicación Django</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, debitis iusto ratione sapiente magnam,
            culpa mollitia voluptatibus deleniti autem provident ipsam perspiciatis? Praesentium tempora at rerum
            doloribus, nobis asperiores, provident odio ut officia optio facere ab perspiciatis reiciendis nam!
            Pariatur hic sed nobis inventore velit. Voluptates, ducimus tempore odio adipisci possimus sunt cum
            obcaecati cumque odit illum? Facilis optio voluptate, quibusdam ex voluptas voluptatum eaque vel excepturi
            pariatur veritatis aspernatur nam perferendis nemo odit ea. Ea temporibus laudantium cumque voluptas
            assumenda numquam eligendi reprehenderit quidem! Eius autem, voluptate repudiandae illum neque omnis totam!
            Quasi enim iure distinctio inventore nisi ea?</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Iniciar Sesión
            </a>
            <a class="btn btn-dark" href="/signup/">
                Registrar Usuario
            </a>
        </div>
    </section>
</main>
{%endblock%}